@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }

  th,
  td {
    font: inherit;
    text-align: inherit;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6.5px;
    border-radius: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-zinc-800;
    border-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-white;
    border-radius: 8px;
  }
}

/* styles.css */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-slide-in {
  animation: slide-in 1s forwards;
}

.animate-slide-out {
  animation: slide-out 1s forwards;
}
