<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
  </head>
  <body>
    <h1>Password Reset</h1>
    <form
      method="POST"
      action="{% url 'password_reset_confirm' uidb64=uid token=token %}"
    >
      {% csrf_token %}
      <!-- Include fields for new password -->
      <label for="new_password1">New password:</label>
      <input type="password" id="new_password1" name="new_password1" required />
      <br />
      <label for="new_password2">Confirm new password:</label>
      <input type="password" id="new_password2" name="new_password2" required />
      <br />
      <button type="submit">Reset Password</button>
    </form>
  </body>
</html>
